<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

<!-- body here (recipe section) -->
    <div class="popular">
        <h2>POPULAR CATEGORIES</h2>
    </div>

    <br>

    <div class="meal-type">
        <h2>RECIPES BY MEAL TYPE</h2>

    </div>

    <br>

    <div class="course">
        <h2>RECIPES BY COURSE</h2>

    </div>

    <br>

    <div class="diet">
        <h2>RECIPES BY DIET</h2>

    </div>

    <br>

    <div class="season">
        <h2>RECIPES BY SEASON</h2>

    </div>
    
    <br>

    <div class="method">
        <h2>RECIPES BY METHOD</h2>

    </div>

    <br>

    <div class="ingredient">
        <h2>RECIPES BY MEAL TYPE</h2>

    </div>

    <br>

    <div class="series">
        <h2>RECIPES BY MEAL TYPE</h2>

    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>